* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-image: url(images/bg-pattern-desktop.svg);
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: 70% 100%;
}
.container {
	display: flex;
	flex-direction: row;
}
.leftcontent {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 3;
}
.leftcontent h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: hsl(0, 36%, 70%);
	font-size: 60px;
	font-family: "Josefin Sans", sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 15px;
	text-align: left;
	font-size: 110px;
}
.leftcontent h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 130px;
	color: hsl(0, 6%, 24%);
	font-size: 60px;
	font-family: "Josefin Sans", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 15px;
	text-align: left;
	font-size: 100px;
}
.leftcontent p {
	display: flex;
	align-items: center;
	justify-content: center;
	color: hsl(0, 36%, 70%);
	font-size: 20px;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
	margin-left: 130px;
	line-height: 30px;
}
.rightimg {
	flex: 2;
	background-image: url(images/hero-desktop.jpg);
	height: 100vh;
	width: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: -325px;
}
footer {
	position: absolute;
	bottom: 0;
}
.logo {
	background-image: url(images/logo.svg);
}
.form input {
	margin-left: 140px;
	width: 400px;
	height: 45px;
	margin-top: 50px;
	border-radius: 30px;
	padding: 30px;
	outline: none;
	border: 1px solid hsl(0, 36%, 70%);
}
.form input::placeholder {
	color: hsl(0, 36%, 70%);
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
	font-size: 20px;
}
.form button {
	width: 120px;
	height: 63px;
	border-radius: 30px;
	margin-left: -150px;
	border: 1px solid hsl(0, 36%, 70%);
}
